@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primary--color : #2B86C2;
$secondary--color : rgba(43, 134, 194, 0.25);
$text--color : #fff;
$table-border : rgba(43, 134, 194, 0.1);

* {
    font-family: 'Roboto',sans-serif;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

nav {
    background-color: $primary--color;
    font-size: 24px;
    .navbar-brand {
    font-size: 34px;
    }
}

#sidenav {
    font-size: 24px;
    padding: 0;
    background-color: $secondary--color;
    mix-blend-mode: normal;
    width: 100%;
    max-width: 250px;
    min-width: 250px;
    height: 100vh;

    .nav-link {
        padding-left: 30px;
    }

    li {
        border: solid 1px $secondary--color;
    }
    a {
        text-decoration: none;
        color:$text--color;
    }
}

#maincontent {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
}

button,
.btn,
.btn-primary,
.btn-block {
    border-radius: 0 !important;
}

.table {
    border: solid 1px #000;
    thead, tbody, th, tr, td {
        border: solid 1px $table-border !important;
    }
    tr {
        background-color: $secondary--color;
    }
    .no-bg {
        background-color: transparent !important;
    }
}

#pagination {
    button {
        background-color: $primary--color;
        color: $text--color;
        border: none;
    }
}

#mydatatable {
    border: $table-border;
}


form {
    border: solid 2px #CCC;
    padding: 20px;
    
    .form-inline .form-control {
        width: 40%;
    }
    
    label {
        width: 120px;
        justify-content: flex-start !important;
        color: #666;
    }

    input[type=text], input[type=email], input[type=date], input[type=checkbox], textarea {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: 1px solid #F1F1F1;
    }
    
}

/* Media Screen Tablet View */
@media screen and (max-width: 992px) {
    #sidenav {
        margin-left: -250px;
    }
}
