@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

nav {
  background-color: #2B86C2;
  font-size: 24px;
}
nav .navbar-brand {
  font-size: 34px;
}

#sidenav {
  font-size: 24px;
  padding: 0;
  background-color: rgba(43, 134, 194, 0.25);
  mix-blend-mode: normal;
  width: 100%;
  max-width: 250px;
  min-width: 250px;
  height: 100vh;
}
#sidenav .nav-link {
  padding-left: 30px;
}
#sidenav li {
  border: solid 1px rgba(43, 134, 194, 0.25);
}
#sidenav a {
  text-decoration: none;
  color: #fff;
}

#maincontent {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
}

button,
.btn,
.btn-primary,
.btn-block {
  border-radius: 0 !important;
}

.table {
  border: solid 1px #000;
}
.table thead, .table tbody, .table th, .table tr, .table td {
  border: solid 1px rgba(43, 134, 194, 0.1) !important;
}
.table tr {
  background-color: rgba(43, 134, 194, 0.25);
}
.table .no-bg {
  background-color: transparent !important;
}

#pagination button {
  background-color: #2B86C2;
  color: #fff;
  border: none;
}

#mydatatable {
  border: rgba(43, 134, 194, 0.1);
}

form {
  border: solid 2px #CCC;
  padding: 20px;
}
form .form-inline .form-control {
  width: 40%;
}
form label {
  width: 120px;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  color: #666;
}
form input[type=text], form input[type=email], form input[type=date], form input[type=checkbox], form textarea {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #F1F1F1;
}

/* Media Screen Tablet View */
@media screen and (max-width: 992px) {
  #sidenav {
    margin-left: -250px;
  }
}/*# sourceMappingURL=style.css.map */